<!DOCTYPE html>
<html lang = "en">
<head>
     {% load static %}
    <meta charset = "UTF-8">
    <title>QuizMaster</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <span>
     <header>
        <div class="header-container">
            <div class="quiz-categories">
                <button class="category-button" onclick="window.location.href='{% url 'rules' %}'">General Knowledge</button>
                <button class="category-button" >Python</button>
                <button class="category-button">Django</button>
                <button class="category-button">SQL</button>
                <button class="category-button">Git</button>
                <button class="category-button">Networking</button>

            </div>
               <!-- Logout Button with Image -->
            <div class="category-button_logout" id="logoutButton" title="Are you sure you want to logout?">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/icons-logout.png' %}" alt="Sign Out">
                </a>
            </div>

        </div>
    </header>
      <div>
            <div class="main_content">
                <h3>Elevate your mind, one question at a time.</h3>
            </div>
            <pre class="main_content_txt"><em><strong>Complete miles of journey with one step. Let's get started!</strong></em></pre>

            <div class="image-container">
                <img src="{% static 'images/question-mark.png' %}" alt="question-mark image">
            </div>

            <div class="content">
                <span><em>"Success is not final, failure is not fatal: It is the courage to continue that counts.</em>"</span>
            </div>
      </div>
  </span>

</body>
</html>