<!DOCTYPE html>
<html lang = "en">
<head>
     {% load static %}
    <meta charset = "UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <span>
     <header>
        <div class="header-container">
            <div class="quiz-categories">
                <button class="category-button">Category 1</button>
                <button class="category-button">Category 2</button>
                <button class="category-button">Category 3</button>
                <!-- Add more buttons as needed -->
            </div>
        </div>
    </header>
     <pre>
         "Welcome to Home page.......!"
     </pre>
  </span>
</body>
</html>