<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>QuizMaster</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="container">
        <div class="btn">
            <div>
                <form method="post" action="{% url 'login' %}">
                     {% csrf_token %}
                     <button class="login_btn">Login</button>
                </form>
            </div>
            <div>
                <form  method="post" action="{% url 'register' %}">
                     {% csrf_token %}
                     <button class="register_btn">Register</button>
                </form>
            </div>
        </div>
        <div class="content">
            Test your knowledge with our exciting quizzes!
        </div>
    </div>
</body>
</html>