<!DOCTYPE html>
<html lang = "en">
<head>
    {% load static %}
    <meta charset = "UTF-8">
    <title>QuizMaster</title>
    <link rel="stylesheet" type="text/css" href="{% static 'quest.css' %}">
</head>
<body>
     <header>
        <div class="header-container">
               <!-- Logout Button with Image -->
            <div class="category-button_logout" id="logoutButton" title="Are you sure you want to logout?">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/icons-logout.png' %}" alt="Sign Out">
                </a>
            </div>
        </div>
    </header>
     <P>Default question</P>
   <div class="question-container">
        <div class="question">
            <p>1. What is the capital of France?</p>
        </div>
        <ul class="options">
            <li class="option">
                <label>
                    <input type="radio" name="q1" value="option1"> Paris
                </label>
            </li>
            <li class="option">
                <label>
                    <input type="radio" name="q1" value="option2"> Berlin
                </label>
            </li>
            <li class="option">
                <label>
                    <input type="radio" name="q1" value="option3"> London
                </label>
            </li>
            <li class="option">
                <label>
                    <input type="radio" name="q1" value="option4"> Rome
                </label>
            </li>
        </ul>
    </div>
</body>
</html>