<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Quiz Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'quest.css' %}">
</head>
<body>
     <header>
        <div class="header-container">
               <!-- Logout Button with Image -->
            <div class="category-button_logout" id="logoutButton" title="Are you sure you want to logout?">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/icons-logout.png' %}" alt="Sign Out">
                </a>
            </div>
        </div>
    </header>

     <div class="quiz-container">
         <form method="post" action="{% url 'quiz_page' %}">
          {% csrf_token %}
              <div class="options">
                    <p>{{ current_question.question_text }}</p>
                    <input type="radio" name="question{{ current_question.id }}" value="{{ current_question.option1 }}"> {{ current_question.option1 }}<br>
                    <input type="radio" name="question{{ current_question.id }}" value="{{ current_question.option2 }}"> {{ current_question.option2 }}<br>
                    <input type="radio" name="question{{ current_question.id }}" value="{{ current_question.option3 }}"> {{ current_question.option3 }}<br>
                    <input type="radio" name="question{{ current_question.id }}" value="{{ current_question.option4 }}"> {{ current_question.option4 }}<br>
              </div>

            {% if current_question_index > 0 %}
                <input type="submit" name="previous" value="Previous">
            {% endif %}

            {% if current_question_index < last_question_index %}
                <input type="submit" name="next" value="Next">
            {% else %}
                <input type="submit" value="Finish">
            {% endif %}
        </form>
    </div>
</body>
</html>
