<!DOCTYPE html>
<html lang = "en">
<head>
    {% load static %}
    <meta charset = "UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-content">
            <div class="signup-form">
                <div class="title">Signup</div>
                <div class="input-boxes">
                    <div class="input-box">
                        <i class="fas fa-user"></i>
                        {{ form.username }}
                    </div>
                    <div class="input-box">
                        <i class="fas fa-envelope"></i>
                        {{ form.email }}
                    </div>
                    <div class="input-box">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password1" id="password1" placeholder="Enter your password" required>
                        <span class="toggle-password" onclick="togglePasswordVisibility('password1', 'toggle-icon1')"><i id="toggle-icon1" class="fas fa-eye"></i></span>
                    </div>
                    <div class="input-box">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password2" id="password2" placeholder="Confirm password" required>
                       <span class="toggle-password" onclick="togglePasswordVisibility('password2', 'toggle-icon2')"><i id="toggle-icon2" class="fas fa-eye"></i></span>
                    </div>

                     {{form.errors }}

                    <div class="button input-box">
                        <input type="submit" value="Submit">
                    </div>
                    <div class="text sign-up-text">Already have an account? <a href="{% url 'login' %}">Login now</a></div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--password show and hide functionality-->
<script>
    function togglePasswordVisibility(passwordFieldId, iconId) {
        var passwordInput = document.getElementById(passwordFieldId);
        var icon = document.getElementById(iconId);

        if (passwordInput && icon) {
            var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            // Toggle the eye icon
            icon.classList.toggle('fa-eye-slash');
        } else {
            console.error("Password input or icon element not found.");
        }
    }
</script>


</body>
</html>

